* {
    box-sizing: border-box;
}

.welcome {
    position: absolute;
    top: 50px;
}

body {
    
    background: linear-gradient(to right, #000046, #1cb5e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.navText {
    font-size: 1.5rem;
   
}
.searchStyle {
    margin-top: 100px;
}

.form {
    display: grid;
    width: 30%;
   margin-left: 550px;
   margin-top: 150px;
}

.label {
    font-size: 2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    padding: 1.5rem;
    margin-left: 100px;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem 0.5rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.button {
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 1rem;
    border: 1px solid;
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover {
    background-color: #07215d; 
}

.styles {
    margin-left: 305px;
    padding: 5rem;
}

 .wordStyles {
    font-size: 50px;
} 